body {
    background-color: #163a59;
}

h1 {
    color: #ffffff;
    font-family: "arial";
    font-size: 50px;
    margin-bottom: 0px;
}

h2 {
    color: #ffff21;
    font-family: "arial";
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/** Game finished **/
.completed {
    position: absolute;
    z-index: 999;
    top: 33vh;
    background-color: RGBA(232, 246, 254, 0.8);
    width: 100vw;
    padding: 50px 0;
}

.completed>p {
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 0;
}

.completed>p:first-child {
    font-size: 3em;
    font-weight: 700;
    color: #758d9a;
}